@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>注册失败</title>
</head>
<body>
    <div>
        <h2>注册失败</h2>
        <br />
        <h3>该手机已经注册过，请检查手机号码是否正确！</h3>
    </div>
</body>
</html>
