@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>预约登记成功</title>
</head>
<body>
    <div>
        <h3>预约登记成功!</h3>
    </div>
</body>
</html>
